.menuInicio{
    @include flex-row-center;
    justify-content: space-between;
    background-color: rgb(72, 72, 72);
    .logoCarrito{
        margin: 1rem 2rem;
        transform: scale(1.9);
        transition: 2s;
        cursor: pointer;
        &:hover{
            transform: scale(2.2);
            background-color: rgb(217, 217, 217);
            opacity: .7;
            border-radius: 5rem;
        }
    }
}

.divTienda{
    @include flex-row-center
    }

.cards{
    border: solid .1rem ;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    h3{
        text-align: center;
        font-size: 1.3rem;
    }
    p{
        text-align: center;
    }
    img{
        width: 80%;
        margin-bottom: 6rem;
    }
    
}
.price{
    font-size: 2rem;
    font-weight: bold;
}

.cards button{
    border: none;
    border-radius: 4rem;
    outline: 0;
    padding: 1.2rem;
    color: rgb(255, 255, 255);
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.8rem;
    transition: .4s;
    &:hover{
        opacity: 0.7;
    }
}

//-----Carrousel---

.carousel-inner{
    height: 35rem;
    margin: 2rem auto;
    max-width: 100%;
    
}

// modal carrito


.modal-container{
    width: 90%;
    margin: 5rem 10rem;
    max-height: 88vh;
    color: rgb(0, 0, 0);
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 2;
    top: 2rem;
    scrollbar-color: none;
}

.modal-container::-webkit-scrollbar{
    display: none;
}

.modal-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #4a4a4a;
    color: aliceblue;
    width: 100%;
}

.modal-header-title{
    justify-self: start
}

.modal-header-button{
    cursor: pointer;
}
.modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 1rem;
}

.modal-contanier > div > img {
    height: 12rem;
    width: 12rem;
}

.total-content{
    font-size: 2.5rem;
    padding: 2rem;
    text-align: center;
    padding-top: 2rem;
    background-color: rgb(43, 43, 43);
    color: rgb(255, 255, 255);
}

//----boton eliminar---
.delete-product{
    cursor: pointer;
}



//---- cantidad de carrito---

.cantidad-carrito{
    background-color: rgb(174, 41, 41);
    color: rgb(255, 255, 255);
    border-radius: 70%;
    font-size: .8rem;
    padding: .2rem;
    top: .4rem;
    right: .4rem;
    position: absolute;
    display: none;
}

.sumar{
    cursor: pointer;
}

.restar{
    cursor: pointer;
}

//---ir a pagar---

.irApagar{
    background-color: rgb(50, 50, 50);
    border-radius: .5rem;
    font-size: 1.5rem;
    padding: .6rem;
    margin: 1rem;
    transition: 1s;
    a{
        text-decoration: none;
        color: #ececec;

    }
    &:hover{
        transform: scale(1.1);
        opacity: .7;
        background-color: rgba(2, 183, 255, 0.854);
    }
}

